@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
@section Scripts{
    <script src="~/libs/core-js/client/shim.min.js"></script>
    <script src="~/libs/zone.js/dist/zone.js"></script>
    <script src="~/libs/reflect-metadata/Reflect.js"></script>
    <script src="~/libs/systemjs/dist/system.src.js"></script>
    <script src="~/AngularApp/systemjs.config.js"></script>
    <script>
        System.import('app').catch(
            function (err) {
                console.error(err);
            });
    </script>
}

<div class="row" ng-app="app">

    <app></app>

</div>